.container {
    padding-top: #{scaleValue(100)};
    height: 100vh;
    overflow: hidden;

    &__header {
        padding-left: #{scaleValue(100)};
    }

    &__content {
        overflow-y: hidden;
        overflow-x: scroll;
        min-height: #{scaleValue(1000)};
        display: flex;

        &--left {
            width: #{scaleValue(100)};
            flex-shrink: 0;
        }

        &--right {
            flex-shrink: 0;
        }
    }

    &__categories {
        padding-left: #{scaleValue(100)};
        margin-bottom: #{scaleValue(30)};

        &--btn {
            margin-right: #{scaleValue(20)};
            color: $primary-color !important;
            opacity: .5;

            &.current {
                opacity: 1;
            }
        }
    }
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.margin-right-5 {
    margin-right: #{scaleValue(5)};
}

.margin-left-5 {
    margin-left: #{scaleValue(5)};
}

.margin-right-20 {
    margin-right: #{scaleValue(20)};
}

.margin-right-30 {
    margin-right: #{scaleValue(30)};
}

.margin-bottom-30 {
    margin-bottom: #{scaleValue(30)};
}

.btn {
    border: none;
    border-radius: .1px;
    cursor: pointer;
    font-weight: 500;
    color: $white;
    background: transparent;
    border-radius: 8px;
    font-size: #{scaleValue(12.5)};

    &.primary {
        background: $primary-color;
    }
}

.pill {
    background: rgba(black, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: #{scaleValue(6)};
    font-size: #{scaleValue(10)};
    font-weight: 500;
    padding: #{scaleValue(5)};
    cursor: pointer;
    min-height: #{scaleValue(10)};
    min-width: #{scaleValue(10)};
}

.relative-positioning {
    position: relative;
}

.blue-color {
    color: $link-color
}

.red-color {
    color: $red
}

.loading-spinner {
    display: inline-block;
    border-top: 1.4px solid rgb(47, 47, 47);
    border-bottom: 1.4px solid rgb(47, 47, 47);
    border-left: 1.4px solid transparent;
    border-right: 1.4px solid transparent;
    height: #{scaleValue(10)};
    width: #{scaleValue(10)};
    border-radius: 100%;
    animation: spin 2s linear infinite;
}

.white-color {
    color: $white;
}

.faintwhite-color {
    color: rgba($white, .6);
}