.recipescard {
    border-radius: 0px 0px 11px 11px;
    background: linear-gradient(0deg, #fff 0%, #fff 100%), #eaeaea;
    box-shadow: 0px 4px 5.3px 0px rgba(0, 0, 0, 0.2);

    &--figure {
      height: #{scaleValue(300)};

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &--description {
      padding: #{scaleValue(15)};
    }

    &--h4 {
      font-size: #{scaleValue(20)};
      font-weight: 500;
    }

    &--details {
      color: $grey-black;
      font-size: #{scaleValue(15)};
    }

    &--time {
      display: flex;
      justify-content: space-between;
      margin-top: #{scaleValue(25)};
      align-items: center;
      font-size: #{scaleValue(15)};

      & span {
        &.startcooking {
          background: $primary-color;
          cursor: pointer;
          color: $white;
          padding: #{scaleValue(10)} #{scaleValue(14)};
          border-radius: #{scaleValue(8)};
          font-size: #{scaleValue(12)};
        }
      }
    }
  }